@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 16% 13%;
    --foreground: 219 28% 88%;
    --card: 220 16% 16%;
    --card-foreground: 219 28% 88%;
    --popover: 220 16% 18%;
    --popover-foreground: 219 28% 88%;
    --primary: 219 28% 88%;
    --primary-foreground: 220 16% 16%;
    --secondary: 220 16% 22%;
    --secondary-foreground: 219 28% 88%;
    --accent: 213 32% 52%;
    --accent-foreground: 219 28% 95%;
    --destructive: 354 42% 45%;
    --destructive-foreground: 219 28% 95%;
    --muted: 220 16% 26%;
    --muted-foreground: 219 14% 65%;
    --border: 220 16% 22%;
    --input: 220 16% 28%;
    --ring: 213 32% 52%;
    --radius: 0.375rem;
    --sidebar-background: 220 16% 14%;
    --sidebar-foreground: 219 28% 88%;
    --sidebar-border: 220 16% 20%;
    --sidebar-primary: 213 32% 52%;
    --sidebar-primary-foreground: 219 28% 95%;
    --sidebar-accent: 220 16% 20%;
    --sidebar-accent-foreground: 219 28% 88%;
    --chart-1: 213 32% 60%;
    --chart-2: 193 43% 65%;
    --chart-3: 92 28% 60%;
    --chart-4: 311 20% 60%;
    --chart-5: 14 51% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
